<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
	
	<link rel="icon" href="/favicon.png" sizes="32x32">
	<title>The 45th / <%= title %> </title>

	<link rel="stylesheet" href="/css/master.css">
	<link rel="stylesheet" href="/css/master-elms.css">
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/js/master.js" defer></script>

	<% if (typeof css != 'undefined') { for(let url in css) { %><link rel="stylesheet" href="/css/<%= css[url] %>">
	<% }} %>
	<% if (typeof js3p != 'undefined') {for(let url in js3p) { %><script src="/node_modules/<%= js3p[url] %>"></script>
	<% }} %>
	<% if (typeof js != 'undefined') {for(let url in js) { %><script src="/js/<%= js[url] %>"></script>
	<% }} %>
	<% if (typeof jsDefer != 'undefined') {for(let url in jsDefer) { %><script src="/js/<%= jsDefer[url] %>" defer></script>
	<% }} %>
</head>
<body>
<%- include('header.ejs', { sel: page }) %>
<div id="body" class="<% if (typeof bodyClasses != 'undefined') { %><%- bodyClasses.join(' ') %><% } %>"<% if (typeof user != 'undefined') { %> data-is-admin="<%= user.isAdmin %>"<% } %>>