<%- include('partials/head.ejs', {
	page: 'chapters',
	title: 'Chapters',
	css: [
		'chapters.css'
	],
	js3p: [
		'sortablejs/Sortable.min.js',
		'jquery-sortablejs/jquery-sortable.js'
	],
	jsDefer: [
		'chapters.js'
	]
}) %>

<h2>Chapters</h2>

<div id="button-wrap">
	<button id="btn-edit">edit</button>
	<button id="btn-cancel">cancel</button>
	<button id="btn-save" type="submit">save</button>
</div>

<template id="template-chapter">
	<div class="chapter">
		<span class="index"></span>
		<span class="title"></span>
		<div class="edit"></div>
		<div class="delete"></div>
		<div class="adopt"></div>
		<div class="insert"></div>
	</div>
</template>

 <div id="chapters-wrap" class="sortable level-0">
	<%
	let level = 0;
	for (const i in chapters) {
		level = chapters[i].index.replace(/\./g, '').length - 1;
		const nextLevel = chapters[parseInt(i) + 1] ? chapters[parseInt(i) + 1].index.replace(/\./g, '').length - 1 : 0;
		if (nextLevel > level) {
	%>
	<div class="sortable level-<%= nextLevel %>">
		<% } %>
		<div class="chapter" data-id="<%= chapters[i]._id %> ">
			<div class="block">
				<span class="index"><%= chapters[i].index %></span>
				<span class="title"><%= chapters[i].title %></span>
				<div class="edit"></div>
				<div class="delete"></div>
				<div class="adopt"></div>
			</div>
			<div class="insert"></div>
		</div>
	<% if (nextLevel < level) {	%>
	</div>
	<% }} %>
</div>

<%- include('partials/foot.ejs') %>