<%- include('partials/head.ejs', {
	page: 'tweets',
	title: 'Tweets',
	css: [
		'tweets.css',
		'table.css',
		'jquery.auto-complete.css'
	],
	js: [
		'search.js',
		'table.js',
		'jquery.auto-complete.js'
	],
	jsDefer: [
		'tweets.js'
	]
}) %>

<template id="tmp-label">
<%- include('partials/label.ejs', { val: 'value' }) %>
</template>

<div id="nav-filter-type-wrap">
	<div id="nav-filter-type" class="nav<% if (query.m || query.y) { %> by-date<% } %>">
		<a href="#" class="f-search">Search</a>
		<a href="#" class="f-by-date">By Date</a>
	</div>
	<div id="search-settings">
		Show:
		<a href="#" class="off">full tweets</a>
		<a href="#">labels</a>
		<a href="#" class="off">metadata</a>
		<a href="#" class="off">retweets</a>
		<a href="#" class="off">archived</a>
	</div>
</div>

<div id="filters"<% if (query.m || query.y) { %> class="by-date"<% } %>>
	<form id="form-search">
		<input id="search" type="text" placeholder="search" value="<%= query.q %>" tabindex="1" autocomplete="off" autofocus data-url-query="<%= url(query, 'q', false, {'skipQm': true}) %>">
		<button type="button" id="search-clear"></button>
		<input id="search-submit" type="submit" value="search">
		<div id="search-results-count"><%= resultCount %> results</div>
	</form>
	
	<div id="nav-year" class="nav small">
		<% for (let i=dateNav.years.length-1; i>0; i--) { %>
			<a href="<%= url(query, 'y', (query.y == dateNav.years[i]) ? null : dateNav.years[i]) %>"<% if (query.y == dateNav.years[i]) { %> class="sel"<% } %>><%= dateNav.years[i] %> </a>
		<% } %>
	</div>
	<div id="nav-month" class="nav small">
		<% for (let i=1; i<dateNav.months.length; i++) { %> 
			<a href="<%= url(query, 'm', (query.m == i) ? null : i) %>"<% if (query.m == i) { %> class="sel"<% } %>><%= dateNav.months[i] %></a>
		<% } %>
		<div id="selected-month-overview" class="month-overview">
			<div class="bar">
				<div class="archived"></div>
				<div class="processed"></div>
			</div>
			<span><%= resultCount %> tweets</span>
		</div>
	</div>
</div>

<!-- controls -->
<div id="controls" class="hide">
	<div class="float-wrap">
		<button id="exit-selection"></button>
		<button id="btn-archive">archive</button>
		<div id="dd-star-display" class="dd-display">
			<div class="dsp">- star -</div>
			<select id="dd-stars">
				<option hidden selected></option>
				<option value="0" data-display-value="-">- whatever</option>
				<option value="1" data-display-value="&#x2605;">&#x2605; noteworthy</option>
				<option value="2" data-display-value="&#x2605;&#x2605;">&#x2605;&#x2605; great tweet</option>
				<option value="3" data-display-value="&#x2605;&#x2605;&#x2605;">&#x2605;&#x2605;&#x2605; top content</option>
			</select>
		</div>
		<button id="btn-star"><span class="star">&#x2605;</span><span>star</span></button>
		<input id="add-label" type="text" placeholder="+ add label">
		<div id="dd-chapter-display" class="dd-display">
			<div class="dsp">- move -</div>
			<select id="dd-chapter">
				<option value="">move</option>
				<option value="chapter-a">Chapter A</option>
				<option value="chapter-b">Chapter B</option>
				<option value="chapter-c">Chapter C With Very Long Title</option>
			</select>
		</div>
	</div>
</div>

<%- include('partials/pagination.ejs', { className: 'top' }) %>

<!-- table -->
<div id="tweet-table" class="table">

	<!-- table-header -->
	<div class="table-row table-header">
		<div class="table-cell cb">
			<input type="checkbox">
		</div>
		<div class="table-cell star">
			&#9733;
		</div>
		<div class="table-cell tweet">
			Tweet
		</div>
		<div class="table-cell<% if (sort == 'chapter') { %>  sort<% } else if (sort == '-chapter') { %> sort dec<% } %>">
			<a href="<%= url(query, 's', (sort == 'chapter') ? '-chapter' : 'chapter') %>">Chapter</a>
		</div>
		<div class="table-cell<% if (sort == 'created_at') { %>  sort<% } else if (sort == '-created_at') { %> sort dec<% } %>">
			<a href="<%= url(query, 's', (sort == '-created_at') ? 'date' : '-date') %>">Date</a>
		</div>
		<div class="table-cell"></div>
		<div class="table-cell"></div>
	</div>
	<!-- /table-header -->
	
	<!-- table-row -->
	<% for (let i=0; i<tweets.length; i++) { %>
		<%- include('partials/table-row.ejs', tweets[i]) %> 
	<% } %>
	<!-- /table-row -->
	
</div>
<!-- /table -->

<%- include('partials/pagination.ejs', { className: 'bottom' }) %>

<!-- <div id="table-pagination">
	<a href="#">prev</a><span>1 / 3</span><a href="#">next</a>
</div> -->

<script>
	// for (let i=2; i<=10; i++) {
	// 	const row = document.getElementsByClassName('table-row')[1].cloneNode(true);
	// 	row.setAttribute('data-id', i);
	// 	document.getElementsByClassName('table')[0].appendChild(row);
	// }
</script>
<%- include('partials/foot.ejs') %>