<div
	class="table-row<% if (archived) { %> archived<% } %><% if (stars !== null) { %> l-<%= stars %>"
	data-star="<%= stars %><% } %> "
	data-id="<%= _id %>"
	data-plain-text="<%= plainText %>"
	data-chapter-id="<% if (chapter) { %><%= chapter._id %><% } %>">
	<div class="table-cell cb">
		<input type="checkbox">
	</div>
	<div class="table-cell star">
		&#9733;
	</div>
	<div class="table-cell main">
		<span><%- text %></span><br>
		<div class="meta"><%= created_at.getHours() + ':' + padNr(created_at.getMinutes(), 2) %> &nbsp;&nbsp;•&nbsp;&nbsp; &#9825; RT <%= prettyNr(retweet_count) %> &nbsp;&nbsp;•&nbsp;&nbsp; &#9825; <%= prettyNr(favorite_count) %> &nbsp;&nbsp;•&nbsp;&nbsp; Source: <%= source %></div>
		<div class="label-wrap<% if (labels.length) { %> pad<% } %>">
			<% if (typeof labels !== 'undefined') { labels.forEach((val) => { %>
			<%- include('partials/label.ejs', { val: val }) %>
			<% })} %>
		</div>
	</div>
	<div class="table-cell chapter">
		<a href="#" class="clip-100"><% if (chapter) { %><%= chapter.title %><% } else { %>- select -<% } %></a>
		<%- include('partials/chapter-dropdown.ejs') %>
	</div>
	<a href="https://twitter.com/realDonaldTrump/status/<%= id_str %>" target="_blank" class="table-cell date">
		<% if (created_at) { %><%= monthNames.split(',')[created_at.getMonth()] + ' ' + created_at.getDate() + ', ' + created_at.getFullYear() %><% } %>
	</a>
	<a href="#" class="table-cell btn-copy">
		copy
	</a>
	<a href="#" class="table-cell btn-archive">
		<% if (archived) { %>restore<% } else { %>archive<% } %>
	</a>
</div>