<div
	class="table-row<% if (archived) { %> archived<% } %><% if (stars !== null) { %> l-<%= stars %><% if (deleted) { %> deleted<% } %>"
	data-star="<%= stars %><% } %> "
	data-id="<%= _id %>"
	data-plain-text="<%= plainText %>"
	data-chapter-id="<% if (chapter) { %><%= chapter._id %><% } %>">
	<div class="table-cell cb">
		<input type="checkbox">
	</div>
	<div class="table-cell star">
		<%- include('svg/star.ejs') %>
	</div>
	<div class="table-cell main">
		<span><% if (user.handle != 'realDonaldTrump') { %><a href="https://twitter.com/<%= user.handle %>" target="_blank" class="other-user"><%= user.name %> @<%= user.handle %></a><% } %><%- text %></span><br>
		<% if (media && media.length) { %>
			<div class="media">
			<% if (media.length == 1) { %>
				<div href="<%= media[0].mediaUrl %>" target="_blank"><img src="<%= media[0].mediaUrl %>"></div>
			<% } else { %>
				<% for (const i in media) { %>
					<div href="<%= media[i].mediaUrl %>" target="_blank"><img class="small" src="<%= media[i].mediaUrl %>"></div>
				<% } %>
			<% } %>
			</div>
		<% } %>
		<% if (quoted.id) { %>
			<div class="quoted link" href="https://twitter.com/_/status/<%= quoted.id %>">
				<div class="text"><span class="link color" href="https://twitter.com/<%= quoted.user.handle %>"><b><%= quoted.user.name %></b> <u>@<%= quoted.user.handle %></u></span>: <%- quoted.text %></div>
				<% if (quoted.media && quoted.media.length) { %>
					<div class="media">
					<% if (quoted.media.length == 1) { %>
						<img class="link" href="<%= quoted.media[0].mediaUrl %>" src="<%= quoted.media[0].mediaUrl %>">
					<% } else { %>
						<% for (const i in quoted.media) { %>
							<img class="link small" href="<%= quoted.media[0].mediaUrl %>" src="<%= quoted.media[i].mediaUrl %>">
						<% } %>
					<% } %>
					</div>
				<% } %>
			</div>
		<% } %>
		<div class="meta">
			<% if (date) { %>
				<a href="#"><%= monthNames.split(',')[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear() %></a> at <%= date.getHours() + ':' + padNr(date.getMinutes(), 2) %>
			<% } %>
			<% if (extra.retweets && extra.likes && extra.quotes) { %>
				&nbsp;&nbsp;•&nbsp;&nbsp; RT <%= prettyNr(extra.retweets) %>
				&nbsp;&nbsp;•&nbsp;&nbsp; &#9825; <%= prettyNr(extra.likes) %>
				&nbsp;&nbsp;•&nbsp;&nbsp; Q <%= prettyNr(extra.quotes) %>
				&nbsp;&nbsp;•&nbsp;&nbsp; Source: <%= source %>
			<% } else { %>
				&nbsp;&nbsp;•&nbsp;&nbsp; This tweet has not been fully scraped, media is not included.
			<% } %>
		</div>
		<div class="label-wrap<% if (labels.length) { %> pad<% } %>">
			<% if (deleted) { %><a href="#" class="label deleted">deleted</a><% } %>
			<% if (typeof labels !== 'undefined') { labels.forEach((val) => { %>
			<%- include('partials/label.ejs', { val: val }) %>
			<% })} %>
		</div>
		<% if (repliesTo.id) { %>
			<div class="replies-to link" href="https://twitter.com/_/status/<%= repliesTo.id %>">
				<div class="text"><span class="link color" href="https://twitter.com/<%= repliesTo.user.handle %>"><b><%= repliesTo.user.name %></b> <u>@<%= repliesTo.user.handle %></u></span>: <%- repliesTo.text %></div>
				<% if (repliesTo.media && repliesTo.media.length) { %>
					<div class="media">
					<% if (repliesTo.media.length == 1) { %>
						<img class="link" href="<%= repliesTo.media[0].mediaUrl %>" src="<%= repliesTo.media[0].mediaUrl %>">
					<% } else { %>
						<% for (const i in repliesTo.media) { %>
							<img class="link small" href="<%= repliesTo.media[i].mediaUrl %>" src="<%= repliesTo.media[i].mediaUrl %>">
						<% } %>
					<% } %>
					</div>
				<% } %>
			</div>
		<% } %>
	</div>
	<div class="table-cell chapter">
		<a href="#" class="clip-100"><% if (chapter) { %><%= chapter.title %><% } else { %>- select -<% } %></a>
		<%- include('partials/chapter-dropdown.ejs') %>
	</div>
	<a href="https://twitter.com/_/status/<%= idTw %>" target="_blank" class="table-cell date">
		<% if (date) { %><%= monthNames.split(',')[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear() %><% } %>
	</a>
	<a href="#" class="table-cell btn-copy">
		copy
	</a>
	<a href="#" class="table-cell btn-archive">
		<% if (archived) { %>restore<% } else { %>archive<% } %>
	</a>
</div>