<div class="pagination <%= className %>">
<% if (pageNumber > 1) { %>
	<a href="#<%= pageNumber - 1 %>" class="prev">Prev</a>
<% } else { %>
	<span>Prev</span>
<% } %> 
<% if (pageNumber < totalPages) { %>
	<a href="#<%= pageNumber + 1 %>" class="next">Next</a>
<% } else { %>
	<span>Next</span>
<% } %> 
	&nbsp;&nbsp;&nbsp;
<% if (paginationStart > 1) { %> 
	<a href="#1">1</a>
	<a href="<%= paginationStart - 1 %>" class="prev">...</a>
<% } %> 
<% for (i=paginationStart; i<=paginationEnd; i++) { %>
	<% if (i == pageNumber) { %>
	<span class="sel"><%= i %></span>
	<% } else { %> 
	<a href="#<%= i %>"><%= i %></a>
	<% } %>
<% } %>
<% if (paginationEnd != totalPages) { %> 
	<a href="#<%= paginationEnd + 1 %>" class="next">...</a>
<% if (totalPages > 30) { %>
	<a href="#<%= totalPages %>"><%= totalPages %></a>
<% } %>
<% } %> 
</div>