<div
	class="table-row<% if (archived) { %> archived<% } %><% if (stars !== null) { %> l-<%= stars %><% if (deleted) { %> deleted<% } %>"
	data-star="<%= stars %><% } %> "
	data-id="<%= _id %>"
	data-plain-text="<%= ogText %>"
	data-chapter-id="<% if (chapter) { %><%= chapter._id %><% } %>">
	<div class="table-cell cb">
		<input type="checkbox">
	</div>
	<div class="table-cell star">
		<%- include('svg/star.ejs') %>
	</div>
	<div class="table-cell main">
		<span>
			<% if (isRT) { %>
				<a href="https://twitter.com/realDonaldTrump/status/<%= rt.id %>" target="_blank" class="flag rt"><b>RT</b></a><a href="https://twitter.com/<%= rt.user.handle %>" class="flag" target="_blank"><span>@<%= rt.user.handle %></span></a>
			<% } else if (user.handle != 'realDonaldTrump') { %>
				<a href="https://twitter.com/<%= user.handle %>" target="_blank" class="flag"><b><%= user.name %></b><span>@<%= user.handle %></span></a>
			<% } %>
			<% if (text) { %><%- text %><% } %>
		</span><br>

		<%# <!-- Media: Single image/video/gif or multiple images --> %>
		<%- include('search--table-row--media.ejs', { media: media }) %>

		<%# <!-- Quoted tweet --> %>
		<%- include('search--table-row--quoted.ejs') %>

		<%# <!-- Link preview --> %>
		<%- include('search--table-row--link-preview.ejs') %>

		<%# <!-- Meta info & labels --> %>
		<%- include('search--table-row--meta-labels.ejs') %>

		<%# <!-- Replies to --> %>
		<%- include('search--table-row--repliesto.ejs') %>
	</div>
	<div class="table-cell chapter">
		<a href="#" class="clip-100"><% if (chapter) { %><%= chapter.title %><% } else { %>- select -<% } %></a>
		<%- include('partials/chapter-dropdown.ejs') %>
	</div>
	<a href="https://twitter.com/_/status/<%= idTw %>" target="_blank" class="table-cell date">
		<% if (date) { %><%= dateString %><% } %>
	</a>
	<a href="#" class="table-cell btn-copy">
		copy
	</a>
	<a href="#" class="table-cell btn-archive">
		<% if (archived) { %>restore<% } else { %>archive<% } %>
	</a>
</div>