<div
	class="table-row<% if (archived) { %> archived<% } %><% if (stars !== null) { %> l-<%= stars %><% if (deleted) { %> deleted<% } %>"
	data-star="<%= stars %><% } %> "
	data-id="<%= _id %>"
	data-plain-text="<%= plainText %>"
	data-chapter-id="<% if (chapter) { %><%= chapter._id %><% } %>">
	<div class="table-cell cb">
		<input type="checkbox">
	</div>
	<div class="table-cell star">
		<%- include('svg/star.ejs') %>
	</div>
	<div class="table-cell main">
		<span><%- text %></span><br>
		<div class="meta"><%= date.getHours() + ':' + padNr(date.getMinutes(), 2) %> &nbsp;&nbsp;•&nbsp;&nbsp; &#9825; RT <%= prettyNr(extra.retweets) %> &nbsp;&nbsp;•&nbsp;&nbsp; &#9825; <%= prettyNr(extra.likes) %> &nbsp;&nbsp;•&nbsp;&nbsp; Source: <%= source %></div>
		<div class="label-wrap<% if (labels.length) { %> pad<% } %>">
			<% if (deleted) { %><a href="#" class="label deleted">deleted</a><% } %>
			<% if (typeof labels !== 'undefined') { labels.forEach((val) => { %>
			<%- include('partials/label.ejs', { val: val }) %>
			<% })} %>
		</div>
	</div>
	<div class="table-cell chapter">
		<a href="#" class="clip-100"><% if (chapter) { %><%= chapter.title %><% } else { %>- select -<% } %></a>
		<%- include('partials/chapter-dropdown.ejs') %>
	</div>
	<a href="https://twitter.com/realDonaldTrump/status/<%= idTw %>" target="_blank" class="table-cell date">
		<% if (date) { %><%= monthNames.split(',')[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear() %><% } %>
	</a>
	<a href="#" class="table-cell btn-copy">
		copy
	</a>
	<a href="#" class="table-cell btn-archive">
		<% if (archived) { %>restore<% } else { %>archive<% } %>
	</a>
</div>