<%- include('search--pagination.ejs', { ...pagination, className: 'top' }) %>

<div id="tweet-table" class="table<%= tableClass %>">

	<%# <!-- Table header --> %>
	<div class="table-row table-header">
		<div class="table-cell cb">
			<input type="checkbox">
		</div>
		<div class="table-cell star">
			&#9733;
		</div>
		<div class="table-cell main">
			Tweet
		</div>
		<div class="table-cell chapter <%= sel.chapter %>">
			<a href="#" data-sort="<% if (query.s == 'chapter') { %>-<% } %>chapter" class="sort-link">Chapter</a>
		</div>
		<div class="table-cell date <%= sel.date %>">
			<a href="#" data-sort="<% if (query.s == 'date') { %>-<% } %>date" class="sort-link">Date</a>
		</div>
		<div class="table-cell btn-copy"></div>
		<div class="table-cell btn-archive"></div>
	</div>

	<%# <!-- Table row --> %>
	<% for (let i=0; i<tweets.length; i++) { %>
	<%- include('search--table-row.ejs', tweets[i]) %>
	<% } %>
	
</div>

<% if (!tweets.length) { %><div id="no-results">No matching tweets...</div><% } %>

<%- include('search--pagination.ejs', { ...pagination, className: 'bottom' }) %>